* {
    font-family: 'Arial Rounded MT';
}
h1{
    text-align:center;
}
body {
    text-align: left;
    font-size: 20px;
    border: thick;
    background-color: beige;
    color: black;
}
ul{
    text-align:left;

}